# Entorno de desarrollo específico (por ejemplo, PyCharm)
.idea/

# Archivos de configuración local
*.env

# Logs y archivos temporales
*.log
*.swp

# Archivos de caché de dependencias
pip-log.txt
pip-delete-this-directory.txt

# Archivos de compilación
build/
dist/
*.egg-info/
